html {
height: 100%;
}

@font-face {
    font-family: 'bebas';
    src: url('bebas___-webfont.eot');
    src: url('bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas___-webfont.woff2') format('woff2'),
         url('bebas___-webfont.woff') format('woff'),
         url('bebas___-webfont.ttf') format('truetype'),
         url('bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
font-size: 13px;
line-height: 14px;
}

html {
margin: 0px;
padding: 0px;
border: 0px;
font: inherit;
font-size: 100%;
vertical-align: baseline;
}

html {
  display: block;
}

body {
  margin:0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  padding:0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  border: 0px;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
  font: inherit;
  font-size: 100%;
  vertical-align:baseline;
}

body.general {
  color: #333;
  margin:0px;
  padding: 0px;
  font-family: "Avenir Next", avenir,sans-serif;
  font-size: 100%;
  background: -webkit-linear-gradient(top,#a7e8d4 80%,#24AA98);
  background: -moz-linear-gradient(top,#a7e8d4 80%,#24AA98);
  background: -o-linear-gradient(top,#a7e8d4 80%,#24AA98);
  background-repeat:no-repeat;
  background-attachment: fixed;
}

div {
  display: block;
}

div {
  margin:0px;
  padding:0px;
  border:0px;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

div.header {
  height: 50px;
  width:100%;
  margin:0px;
  top:0px;
  left:0px;
  background: -webkit-linear-gradient(top,#24AA98,#24AA98);
  background: -moz-linear-gradient(top,#24AA98,#24AA98);
  background: -o-linear-gradient(top,#24AA98,#24AA98);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.22);
  position:fixed;
  z-index:1002;
  opacity:0.97;
}


div.footer {
  clear:both;
  border:1px groove #aaaaaa;
  color: #ffffff;
  padding-left:20px;
  padding-top:20px;
  margin-top:50px;
  margin-bottom:0px;
  width:calc(100%-20px);
  margin-right:0;
  height:140px;
  text-align: center;
  background: -webkit-linear-gradient(top,#193C59 75%,#16354f);
  background: -moz-linear-gradient(top,#193C59 75%,#16354f);
  background: -o-linear-gradient(top,#193C59 75%,#16354f);
}

table.footer {

  font-size:12px;
  font-family:"Avenir Next", avenir, sans-serif;

}


a {
  text-decoration: none;
  color:inherit;
}

div.mainbody {
  font-size: 35px;
  font-family:"Avenir Next", avenir, sans-serif;
  margin: 0px;
  margin-top:50px;
  width:100%;
  min-width: 1010px;
  display:block;
  text-align: center;
  color: #2fba91;
  padding-top: 0px;
  height: 0px;
  background: #a7e8d4;
  box-shadow: 0px 1px 5px rgba(0,0,0,.01);
  box-shadow: 0px 1px 5px rgb(0,0,0,.01);
}

div.box {
  font-size: 16px;
  font-family:"Avenir Next", avenir, sans-serif;
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  margin-bottom:300px;
  height:150px;
  width:300px;
  padding-top:25px;
  background-color:#f2f5f8;
  border-color: #f2f5f8;
  border-width:2px;
  border-style:solid;
  border-radius:10px;
  text-align:center;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

div.loadingbox {
  font-size: 16px;
  font-family:"Avenir Next", avenir, sans-serif;
  color:#383737;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  height:300px;
  width:300px;
  padding-top:50px;
  background-color:#f2f5f8;
  border-color: #f2f5f8;
  border-width:2px;
  border-style:solid;
  border-radius:10px;
  text-align:center;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);

}

img.logotitle{
  height:180px;
  margin-top:20px;
}

div.logo{
  margin-top:100px;
  text-align:center;
  margin-right:auto;
  margin-left:auto;
}

div.minilogo{
  margin-top:8px;
  float:left;
}

div.line {
  background-color:#dee2e7;
  height:2px;
  width:240px;
  margin-right: auto;
  margin-left: auto;
  margin-top:30px;
}

div.loadingline {
  background-color:#dee2e7;
  height:2px;
  width:240px;
  margin-right: auto;
  margin-left: auto;
  margin-top:30px;
}

div.loadinglinestartups {
  background-color:#dee2e7;
  height:2px;
  width:200px;
  margin-right: auto;
  margin-left: auto;
  margin-top:-2px;
  display: inline-block;
}

div.runninglinx {
  margin-top:20px;
  margin-right:auto;
  margin-left: auto;
  text-align:center;
}

div.motivation {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}


div.linkedin {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align:center;
}

div.feed {
  margin-right:auto;
  margin-left:auto;
  width:1000px;
  padding-top:30px;
  text-align:center;
}

div.feedRecommendations {
  margin-right:auto;
  margin-left:auto;
  width:1000px;
  text-align:center;
}


div.vertical {
  vertical-align: top;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  width: 225px;
  display:inline-block;
}


div.startupwrapper{
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin-top:10px;
  width:235px;
  border-radius:10px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.35s ease-in;
  -webkit-transition: box-shadow 0.35s ease-in;
  -moz-transition: box-shadow 0.35s ease-in;
  position:relative;
}

div.startupwrapper:hover{
  box-shadow: 0 0px 10px #888;

  cursor:pointer;
}

div.startup {
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin-top:10px;
  background-color:#f2f5f8;
  width:235px;
  border-radius:10px;
  font-size:14px;
  color:#9da3a7;
}


div.startuprec {
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin-top:10px;
  background-color:#f2f5f8;
  width:235px;
  border-radius:10px;
  padding-bottom:0px;
  font-size:14px;
  color:#9da3a7;
}

div.logowrapper{
  margin-top:25px;
  margin-bottom:20px;
  min-height:120px;
  line-height: 120px;
  vertical-align: middle;
  text-align: center;
}

div.logowrapperprofile{
  min-height:150px;
  line-height: 150px;
  vertical-align: middle;
  text-align: center;
}

.helper {
    display: inline-block;
    height: 20%;
    vertical-align: middle;
}

.helperprofile {
    display: inline-block;
    height: 30%;
    vertical-align: middle;
}

img.startup {
  width:140px;
  border-radius:10px;
  display: inline-block;
  vertical-align: middle;
}

div.startupinfo{

  padding-bottom:10px;
  border-radius:10px 10px 0px 0px;
  display:block;
}

div.startupinforec{

  padding-bottom:0px;
  border-radius:10px 10px 0px 0px;
  display:block;
}

p.startup{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom:20px;
  padding-top:20px;
}

div.space{
  position:relative;
  border-radius:10px 10px 0px 0px;
  float:left;
  cursor:pointer;
  text-align: center;
  min-height:380px;
}

div.space:before{
  content:"";
  display:block;
  position:absolute;
  border-radius:10px 10px 0px 0px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:none;
  transition: background .25s linear;
  -webkit-transition: background .25s linear;
  -moz-transition: background .25s linear;
}

div.space:hover:before{
  background: rgba(41,87,81,0.95);
}


div.space div.text{
  padding:0px;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:white;
  opacity:0;
  transition: opacity 0.35s linear;
  -webkit-transition: opacity 0.35s linear;
  -moz-transition: opacity 0.35s linear;
  font-size: 14px;
  text-align: center;
}

div.space div.text:hover{
  opacity:1;
}

div.spacerec{
  position:relative;
  border-radius:10px 10px 10px 10px;
  float:left;
  cursor:pointer;
  text-align: center;
  min-height:420px;
}

div.spacerec:before{
  content:"";
  display:block;
  position:absolute;
  border-radius:10px 10px 10px 10px;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:none;
  transition: background .25s linear;
  -webkit-transition: background .25s linear;
  -moz-transition: background .25s linear;
}

div.spacerec:hover:before{
  background: rgba(41,87,81,0.95);
}

div.spacerec div.text{
  padding:0px;
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:white;
  opacity:0;
  transition: opacity 0.35s linear;
  -webkit-transition: opacity 0.35s linear;
  -moz-transition: opacity 0.35s linear;
  font-size: 14px;
  text-align: center;
}

div.spacerec div.text:hover{
  opacity:1;
}

span.location {
  padding-top:30px;
  padding-bottom:5px;
  font-size: 18px;
  display: block;
}

span.yearfounded{
  font-size: 14px;
  display:block;
  padding-bottom:3px;
}

span.employees{
  font-size: 13px;
  display:block;
  padding-bottom:3px;
}

div.fundinground{
  width:200px;
  margin:auto;
  display:inline-block;
  height:70px;
  padding:0px;
  position:relative;
  margin-bottom: 20px;
  margin-top:0px;
}

div.totalfunding{
  width:200px;
  margin:auto;
  display:inline-block;
  height:70px;
  padding:0px;
  position:relative;
  margin-bottom: 20px;
}

div.startuptext{
  display: inline-block;
  width:235px;
}


div.investors{
  width:200px;
  margin:auto;
  display:inline-block;
  height:70px;
  padding:0px;
  position:relative;
  margin-bottom: 20px;
  text-align: left;
}

span.seriesround{
  font-size: 15px;
  display: block;
  text-align: center;
}
div.fundingroundtext{
  position:absolute;
  left:5px;
  top:20px;
  height:100px;
  width:200px;
  text-align: center;
  font-size: 30px;

}

div.totalfundingtext{
  position:absolute;
  left:5px;
  top:24px;
  height:100px;
  width:200px;
  text-align: center;
  font-size: 30px;

}

div.investorstext{
  position:absolute;
  left:20px;
  top:12px;
  height:100px;
  width:180px;
  text-align: center;
  font-size: 12px;
}

div.verticaltext{
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -webkit-transform-origin: left top 0;
  text-align:center;
  border: 2px solid;
  border-bottom-color: white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color:transparent;
  position:absolute;
  font-size:12px;
  top:90px;
  left:0px;
  width:80px;
  padding-top:2px;
  color:white;
}




strong.name {
  padding-top:100px;
  font-size:20px;
  color:#383737;
}

div.friends {
  font-size:12px;
  margin-left:2px;
  margin-top:20px;
  width:105px;
  display:inline-block;
  vertical-align: middle;
  padding-bottom:20px;
}

div.friendsrec {
  font-size:12px;
  margin-left:2px;
  margin-top:0px;
  width:105px;
  display:inline-block;
  vertical-align: middle;
}

img.friends {
  width:48px;
  margin-left:2px;
  border-color:#9da3a7;
  border-radius:100%;
  display:inline-block;
}

img.friendslast {
  width:48px;
  border-color:#9da3a7;
  border-radius:100%;
  display:inline-block;
  top:0px;
  left:0px;
  -webkit-filter:opacity(0.5);
  -mos-filter:opacity(0.5);
  -o-filter:opacity(0.5);
  -ms-filter:opacity(0.5);

}


div.friendslast {
  background-color: #000000;
  width:48px;
  margin-left:2px;
  border-color:#9da3a7;
  border-radius:100%;
  display:inline-block;
  position:relative;
  left:0px;
  top:0px;
}

h1.friendsfilter {
  width:48px;
  height:48px;
  margin-top:13px;
  text-align: center;
  font-family:"Avenir Next", avenir, sans-serif;
  font-size:20px;
  color:#ffffff;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
}

div.connectbutton {
  width:98px;
  height:21px;
  padding-top:6px;
  margin-right:0px;
  padding-right:0px;
  font-size: 12.5px;
  border-radius:5px;
  background-color:#24AA98;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.connectbutton:hover{
  background-color:#19776A;
  cursor: pointer;  
}

/* Profile Page */

div.whiteheader {
  font-size: 35px;
  font-family:"Avenir Next", avenir, sans-serif;
  margin:auto;
  margin-top:50px;
  text-align: center;
  color: #2fba91;
  width:100%;
  height: 180px;
  background: #ffffff;
  max-width: calc(100% + 28px);
  box-shadow: 0 1px 5px rgba(0,0,0,.01);
  box-shadow: 0 1px 5px rgb(0,0,0,.01);

}

div.companyTitle{
  width:650px;
  margin:auto;
  position:relative;
}

div.companyphoto{
  position:absolute;
  top:-75px;
  left:0px;
  width:150px;
  height:150px;
  overflow:hidden;
  border-radius:5px;
  -webkit-box-sizing: border-box;;
  box-sizing: border-box;
  padding: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.05) inset;
  -webkit-box-shadow: 0 1px 3px rgb(0,0,0,.05) inset;
  box-shadow: 0 1px 3px rgba(0,0,0,.05) inset;
  border:1px solid #eee;
  background-color:#f8f9fa;
  vertical-align:middle;
  text-align: center;
}


h2.companyname{
  position:absolute;
  font-size:30px;
  color:#505050;
  font-family:"Avenir Next", avenir, sans-serif;
  top:-60px;
  left:180px;
  max-width: 350px;
  display:inline-block;
  text-align: left;
}

div.companyProfile {
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin:auto;
  max-width:850px;
  width:90%;
  font-size:20px;
  margin-top:50px;
  color:#505050;
}



div.friendspanel {
  position:absolute;
  top:5px;
  right:0px;
  display:inline-block;
}


div.connectprofilebutton{
  height:26px;
  width:110px;
  position:absolute;
  top:-42px;
  right:0px;
  display:inline-block;
  padding-top:9px;
  margin-right:0px;
  padding-right:0px;
  font-size: 14px;
  border-radius:5px;
  background-color:#24AA98;
  color: white;
  text-align: center;
  vertical-align: center;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition:background-color 0.5s linear;
  -webkit-transition:background-color 0.5s linear;
  -moz-transition:background-color 0.5s linear;
}
div.connectprofilebutton:hover{
  background-color:#19776A;
  cursor: pointer;
}

strong.title{
  font-size:25px;
}

div.mission{
  padding-top:50px;
  padding-right: 50px;
  padding-left:50px;
  padding-bottom:50px;
  color:#505050;
  max-width:100%;
  font-size:16px;
  font-family:inherit;
  text-align: left;
  border-radius:0px;
  background-color: #f2f5f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);

}

div.growth{
  margin-top:20px;
  padding-top:40px;
  padding-right: 40px;
  padding-left:40px;
  padding-bottom:40px;
  font-size:12px;
  font-family:inherit;
  text-align: left;
  border-radius:0px;
  background-color: #f2f5f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

table.investmenttable{
  font-size: 18px;
}

div.growthmetrics{
  font-family:inherit;
  font-size:12px;
  position:absolute;
  top:40px;
  right:40px;
  text-align: right;
}

strong.number{
  font-size:30px;
}

div.people{
  margin-top:20px;
  padding-top:40px;
  padding-right: 40px;
  padding-left:40px;
  padding-bottom:40px;
  font-size:16px;
  font-family:inherit;
  text-align: left;
  border-radius:0px;
  background-color: #f2f5f8;
  position:relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

div.techcrunch{
  margin-top:40px;
  padding-top:40px;
  padding-right: 40px;
  padding-left:40px;
  padding-bottom:40px;
  font-size:16px;
  font-family:inherit;
  text-align: left;
  background-color: #f2f5f8;
  position:relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

div.connect{
  color:#505050;
  margin-top:20px;
  margin-bottom:130px;
  padding-top:40px;
  padding-right:40px;
  padding-left:40px;
  padding-bottom:40px;
  font-size:16px;
  font-family:inherit;
  text-align: left;
  background-color: #f2f5f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  position:relative;

}




table{
  border-spacing: 0.5rem;
  color: inherit;
  width:100%;
  text-align: left;
  font-size: 20px;
}

td {
  padding:0.5rem;
  vertical-align: top;
  text-align: left;
}

th {
  padding:0.5rem;
  vertical-align: top;
}

.bio{
  font-size: 12px;
  padding:10px;
  text-align: center;
  position: relative;
}

.biospace{
  height:100px;
}

div.employee {
  margin-top:10px;
  padding:0px;
  padding-top:10px;
  width:24%;
  text-align: center;
  display:inline-block;
  overflow: hidden;
  height:150px;
  vertical-align: top;
  position:relative;
  transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}

div.employeefriend {
  margin-top:10px;
  padding:0px;
  padding-top:10px;
  width:24%;
  text-align: center;
  display:inline-block;
  overflow: hidden;
  height:150px;
  vertical-align: top;
  position:relative;
  transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}

.employeefriend:hover{
  opacity:0.5;
  cursor: pointer;
}

.employee:hover .employeephotowrapper{
  opacity:0.2;
  cursor: pointer;
}

.employee:hover .employeename{
  opacity:0.2;
  cursor: pointer;
}


.employeetoptext{
  position:absolute;
  top:-15px;
  bottom:0;
  left:0;
  right:0;
  opacity: 0;
    transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}

.employee:hover .employeetoptext{
  opacity:1;
}

.employeephotowrapper{
  border-radius:100%;
  width:80px;
  height:80px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
    transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}


img.employeephoto{
  margin:auto;
  display:inline-block;
  text-align: center;

}

.tall-img{
    width:80px;
}
.wide-img{
    height:80px;
}


strong.employeename{
  font-size:16px;

}

p.employeename{
  text-align: center;
  font-size:13px;
    transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}

div.article{
  margin-top:20px;
  margin-bottom: 20px;
}

div.articleimg{
  display: inline-block;
  vertical-align: middle;
}

img.articleimg{
  height:50px;
  width:50px;
}

div.articleheadline{
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}

div.degree{
  border-radius:2px;
  font-family:"Avenir Next", avenir, sans-serif;
  padding-top:2px;
  color:#ffffff;
  font-size:12px;
  background-color:#007ab8;
  width:25px;
  height:16px;
  position:absolute;
  text-align: center;
  top:0px;
  right:25px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}

.helpconnect{
  background-color: #24AA98;
  border-radius:5px;
  border: 5px #24AA98 solid;
  text-align: left;
  font-size: 16px;
  padding:15px;
  color:#a7e8d4;
  box-shadow: 0px 0px 5px 5px rgba(80,80,80,0.5);
  box-shadow: 0px 0px 5px 5px rgb(80,80,80,0.5);
  position:absolute;
  bottom:5px;
  right:-210px;
  width:150px;
}

div.hovercard {
    background-color: #f2f5f8;
    opacity:0.9;
    overflow: hidden;
    padding: 12px;
    border: 1px solid #999;
    border-radius: 8px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 8px rgb(0,0,0,0.2);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: 200px;
    font: 11px Arial, Helvetica, sans-serif;
    position:absolute;
    left:150px;
    display:none;
    z-index:10001;
}


div.refresh{
  width:50%;
  background-color:#f2f5f8;
  box-shadow: 0px 0px 4px 4px rgba(36,170,152,.5);
  box-shadow: 0px 0px 4px 4px rgb(36,170,152,.5);
  border-radius:5px;
  text-align: center;
  display: inline-block;
  margin-top:50px;
  margin-bottom: 50px;
  font-family:"Avenir Next", avenir, sans-serif;
  color:#505050;
  padding-top:20px;
  padding-bottom:20px;
  z-index: -1;
}

/*-------------RESOURCESPAGE------------------*/

body.generalresources {
  color: #333;
  margin:0px;
  padding: 0px;
  font-family: "Avenir Next", avenir, sans-serif;
  font-size: 100%;
  background: -webkit-linear-gradient(top,#95ead3 80%,#70cdd0);
  background: -moz-linear-gradient(top,#95ead3 80%,#70cdd0);
  background: -o-linear-gradient(top,#95ead3 80%,#70cdd0);
  background-repeat:no-repeat;
  background-attachment: fixed;
  text-align: center;
}

div.resourcestitle{
  color:#505050;
  margin-top:40px;
  width:75%;
  display:inline-block;
  text-align: center;
  font-size: 40px;
  font-family:"Avenir Next", avenir, sans-serif;
}

.resourcessubtitle{
  font-size: 15px;
  width:80%;
  text-align: center;
  display: inline-block;
  margin-top:30px;
}

div.resourcesline {
  background-color:#505050;
  height:2px;
  max-width:600px;
  width:90%;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0px;
  opacity: 0.3;
}

div.resourceswhiteheader {
  font-size: 35px;
  margin:auto;
  margin-top:50px;
  text-align: center;
  color: #2fba91;
  width:100%;
  min-height: 300px;
  background: #ffffff;
  box-shadow: 0 1px 5px rgba(0,0,0,.01);

}

.resourcesbodywrapper{
  margin-top:30px;
  vertical-align: middle;
  text-align: center;
  max-width:1100px;
  margin-left:auto;
  margin-right:auto;
}

.resourcearticlebox{
  width:20%;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-width:200px;
  min-width:200px;
  display:inline-block;
  color:#fff;
  min-height:400px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

}

.resourcebackground{
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-size: auto 100%;
  z-index: 1;

}

.resourcebackgroundcover{
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background: -webkit-linear-gradient(bottom,#020712 60%,transparent);
  background: -moz-linear-gradient(top,transparent 5%, #1F1A1D);
  background: -o-linear-gradient(top,transparent, 5%, #000);
  opacity:0.8;
  z-index: 2;

}

.resourcecategory{
  margin-top:130px;
  vertical-align: middle;
  text-align: left;
  position: relative;
  z-index: 10;
}

.resourcetime{
  display: inline-block;
}

.resourceline{
  margin-top:5px;
  margin-bottom: 5px;
  background-color:#fff;
  opacity:0.2;
  height:2px;
  position: relative;
  z-index: 10;
}

.resourcetext{
  height:175px;
}

.resourcetitle{
  font-size:20px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: left;
  position: relative;
  z-index: 10;
}

.resourcesubtext{
  font-size:12px;
  margin-bottom:10px;
  text-align: left;
  height:50px;

    position: relative;
  z-index: 10;
}

.resourceauthor{
  color:#F87EA3;
  vertical-align: middle;
  text-align: left;
  font-size: 16px;
  margin-top:10px;
  position: relative;
  z-index: 10;
}

div.resourcesbody{
  box-shadow: 0px 0px 4px 4px rgba(36,170,152,.5);
  background-color:#f2f5f8;
  border-radius:2px;
  text-align: center;
  display: inline-block;
  margin-bottom:20px;
  margin-top:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 50px;
  padding-right: 50px;
  width:860px;
}


.titlecol{
  vertical-align: middle;
}

.authorcol{
  vertical-align: middle;
  text-align: right;
}


.imgcol{
  vertical-align: middle;
  text-align: left;
  width:100px;

}

.articletitle{
  font-size: 18px;
  vertical-align: middle;
}

.articlesubtitle{
  margin-top:-5px;
  font-size:12px;

}

.authorimg{
  margin:5px;
  display: inline-block;
  border-radius: 100%;
  height:50px;
  width:50px;
  vertical-align: middle;
}

p.authorname{
  display: inline-block;
  vertical-align: middle;
}

img.headerlogo{
  margin-top:0px;
  margin-left:20px;
  width:40px;
}

img.footerlogo{
  margin-top:0px;
  margin-left:0px;
  width:35px;
  opacity: 0.6;
}

.navigationheader{
  float:right;
  vertical-align: middle;
}

.resourceslink{
  font-size:12.5px;
  margin-top:10px;
  margin-right: 0px;
  padding-top:7px;
  display: inline-block;
  width:98px;
  height:23px;
  color:#aefbf9;
  border-radius:5px;
  border: solid 1px #aefbf9;
  vertical-align: middle;
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.logout {
  width:98px;
  height:24px;
  padding-top:8px;
  float:right;
  margin-right:0px;
  margin-top:10px;
  font-size:12.5;
  border-radius:5px;
  color:white;
  text-align:center;
  vertical-align:middle;
  display: inline-block;
  transition:color 0.35s linear;
  -webkit-transition:color 0.35s linear;
  -moz-transition:color 0.35s linear;
}

div.homelink {
  width:50px;
  height:24px;
  padding-top:0px;
  margin-right:0px;
  margin-bottom:15px;
  font-size:12.5;
  color:white;
  text-align:center;
  vertical-align:middle;
  display: inline-block;
  transition:color 0.35s linear;
  -webkit-transition:color 0.35s linear;
  -moz-transition:color 0.35s linear;
}

div.homelink:hover{
  color:#a7e8d4;
}

div.logout:hover{
  color:#a7e8d4;
  cursor:pointer;
}

.resourceslink:hover{
  background-color:#aefbf9;
  color:#24AA98;
  cursor: pointer;
}

/*------------LOADING PAGE-------------------*/

.betafeedback{
  text-align: center;
  font-size:14px;
  display: inline-block;
  margin-left: 80px;
  width:200px;
  height:27px;
  padding-top:3px;
  border-radius:5px;
  border: solid 1px #aefbf9;
  color: #aefbf9;
  vertical-align: middle;
  margin-top:10px;
  transition:color 0.35s linear;
  -webkit-transition:color 0.35s linear;
  -moz-transition:color 0.35s linear;
}

.betafeedback:hover{
  background-color:#aefbf9;
  color:#24AA98;
  cursor: pointer;
}

div.headermargin {
  margin-right:auto;
  margin-left:auto;
  width:1000px;
  text-align:center;
}

div.recHelp{
  margin-top:50px;
  margin-bottom:20px;
  margin-left:10px;
  padding:15px;
  height:50px;
  text-align: center;
  opacity:0.96;
  background-color: #2A9094;
  border-radius: 0px;
  font-size: 16px;
  color:#fff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 3px 3px rgba(80,80,80,0.2);
  box-shadow: 0px 0px 3px 3px rgb(80,80,80,0.2);
  display:block;
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.limited_offer{
  background-color:#ff7585;
  width:50vw;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left:35px;
  padding-right:20px;
  position:fixed;
  top:50vh;
  right:0;
  z-index: 9999;
  text-align: center;
  color:#fff;
  border-radius: 120px 0px 0px 120px;
  border:0px;

}

div.limited_close{
  position: absolute;
  top:2px;
  right:5px;
   transition: all linear 0.3s;
}



.limited_title{
  width:100%;
  font-size: 1.5em;
  font-family: 'bebas', 'Avenir Next';
  font-weight: 100;
}

.limited_start{
  display: inline-block;
  padding-right:10px;
  padding-left: 10px;
  padding-top:5px;
  padding-bottom: 5px;
  border-radius: 10px;
  border:1px white solid;
  font-size: 0.8em;
  margin-top:5px;
  float:right;
  transition: all linear 0.3s;
  position: relative;
  top:0;
  right:0;
  z-index: 99999;
}

div.limited_close:hover{
  color:#6b000c;
  cursor: pointer;
}

.limited_start:hover{
  color:#ff7585;
  background-color:white;
  cursor: pointer;
}

.limited_img{
  width:35%;
  display: inline-block;
  vertical-align: middle;
}

.limited_text{
  margin-top:15px;
  text-align: left;
  width:60%;
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8em;
}

.limited_hidden{
  transition:all 0.3s linear;
}

.limited_hidden:hover{
  background-color: #6b000c;
  cursor: pointer;
}

.ahripostcard{
  width:80%;
}

div.filtertoggle{
  width:1005px;
  text-align: center;
  margin:auto;
  height:100px;
  position: fixed;
  top:50px;
  z-index:1001;
  font-size: 16px;
}

div.feedfilter{
  padding:15px;
  position: relative;
  z-index: 1000;
  background-color: rgba(112,205,208,0.85);
  opacity: 0.96;
  box-shadow: 0px 0px 3px 3px rgba(80,80,80,0.2);
  box-shadow: 0px 0px 3px 3px rgb(80,80,80,0.2);
  display:none;
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.filters{
  width:100%;
  text-align: center;
  position: relative;
  z-index: 99999;
  color: #fff;
}

div.filterbox{
  letter-spacing: 0.1em;
  font-size: 12px;
  width:200px; 
  max-width:200px; 
  display: inline-block;
  margin-left:10px;
  margin-right: 10px;
  vertical-align: middle
}

.filterhidetop{
  font-size: 10px;
  text-align: center;
  color:#fff;
  margin-top:-153px;
  width:50px;
  height:20px;
  line-height: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #c7c7c7;
  border: 1px #c7c7c7 solid ;
  display: inline-block;
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;
  z-index:999;
  position: relative;
}

.filterhide:hover{
  cursor: pointer;
  color: #c7c7c7;
  background-color: transparent;
}

.filterhidetop:hover{
  cursor: pointer;
  color: #c7c7c7;
  background-color: transparent;
}

.filterhide{
  z-index:999;
  position: relative;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color:#fff;
  margin-top:-1px;
  width:50px;
  height:20px;
  border: 1px #c7c7c7 solid ;
  border-radius: 0px 0px 10px 10px;
  background-color: #c7c7c7;
  display: none;
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;
}

.locationinput{
  display: inline-block;
  margin-right:70px;
  color:#505050;
}


div.recHelp:hover{
  cursor: pointer;
  background-color:#07666A;
}

p.recHelp{
  margin-left:10px;
  margin-right:10px;
}

table.recHelp{
  font-size: 16px;
  margin-right:10px;
  margin-left:10px;
  vertical-align: middle;
}

/* ------------PROFILEPAGE-------------*/
div.profiletitle{
  min-height:100px;
  line-height: 100px;
  color:#505050;
  margin-top:60px;
  margin-bottom:20px;
  max-width:600px;
  width:100%;
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  font-size: 40px;
  font-family:"Avenir Next", avenir, sans-serif;

}

img.startupprofile {
  max-height:100px;
  max-width:150px;
  border-radius:10px;
  display: inline-block;
  vertical-align: middle;
}

div.profileicon{
  display: inline-block;
  vertical-align: middle;
}

div.profilename{
  margin-left:30px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

div.profilesubtitle{
  font-size: 15px;
  text-align: right;
  display: inline-block;
  margin-top:30px;
  max-width:600px;
  width:90%;
  vertical-align: middle;
}

div.profileline {
  background-color:#505050;
  height:2px;
  max-width:600px;
  width:90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0px;
  opacity: 0.3;
}

div.profilelocation{
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  float:left;
  color:#505050;
  font-size: 20px;
  margin-top:10px;
}

div.profilefriends{
  vertical-align: middle;
  text-align: right;
  display: inline-block;
}

div.linxedbutton{
  width:115px;
  padding-bottom: 9px;
  padding-top:9px;
  margin-left: 10px;
   font-size: 14px;
  border-radius:5px;
  background-color:#24AA98;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.linxedbutton:hover{
  background-color:#19776A;
  cursor: pointer;  
}

/*-----------INTRO TOUR---------------*/

div.backslide{
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}

div.backslide:hover{
  cursor: pointer
}

.backarrow{
  display: none;
}

div.forwardslide{
  height: 50px;
  width:20px;
  display: inline-block;
  vertical-align: middle;

}

div.forwardslide:hover{
  cursor: pointer;

}

.container{
  display: inline-block;
  width:900px;
}

.slide{
  width:900px;
  height:600px;
  text-align: center;
  vertical-align: middle;
  color:#505050;
  display: none;
}

div.tourTitle{
  margin-top:40px;
  margin-bottom:20px;
  font-size: 40px;
  color:#24AA98;
}

div.discoverblock{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin:auto;
  min-height:500px;

}

div.discoverfeed{
  display: inline-block;
  vertical-align: middle;

}

div.discoverfeedtext{
  display: inline-block;
  width:340px;
  vertical-align: middle;
  padding-left:80px;
  font-size: 20px;
  text-align: right;
}

div.definition{
  margin-top:50px;
  margin-bottom:50px;
  font-size: 20px;
  vertical-align: middle;
  text-align: left;
  margin-right:50px;
  margin-left:50px;
  padding-left:50px;
  padding-right:50px;
  border-radius:10px;
  background-color: #f2f5f8;
  padding-top:20px;
  padding-bottom:20px;
  display: inline-block;
}

div.introtext{
  color:#505050;
  text-align: center;
  width:70%;
  display: inline-block;
  font-size: 18px;
  margin-top:50px;
}


.screen{
  width:100%;
  height:250px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid rgba(61, 181, 163, .3);
  border-radius: 10px;
}

div.connectbuttoninline {
  position: relative;
  z-index: 99999;
  width:98px;
  height:21px;
  padding-top:6px;
  margin-right:5px;
  padding-right:0px;
  font-size: 12.5px;
  border-radius:5px;
  background-color:#24AA98;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition:background-color 0.35s linear;
  -webkit-transition:background-color 0.35s linear;
  -moz-transition:background-color 0.35s linear;

}

div.connectbuttoninline:hover{
  background-color:#19776A;
  cursor: pointer;  
}

div.employeeintro {
  margin-top:10px;
  margin-right: 10px;
  padding:0px;
  width:130px;
  text-align: center;
  display:inline-block;
  overflow: hidden;
  height:150px;
  vertical-align: top;
  position:relative;
  transition:opacity 0.35s linear;
  -webkit-transition:opacity 0.35s linear;
  -moz-transition:opacity 0.35s linear;
}

.employeeintro:hover{
  opacity:0.8;
  cursor: pointer;
}

div.connectintro{
  color:#505050;
  margin-top:50px;
  padding-top:40px;
  padding-right:40px;
  padding-left:40px;
  padding-bottom:40px;
  font-size:16px;
  font-family:inherit;
  text-align: left;
  border-radius:10px;
  background-color: #f2f5f8;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  display: inline-block;
  vertical-align: middle;
}

div.getstarted{
  width:250px;
  height:60px;
  margin-top:100px;
  margin-bottom:100px; 
  vertical-align: middle;
  line-height: 60px;
  text-align: center;
  font-size:20px;
  color:white;
  border-radius:10px;
  background-color: #24AA98;
  display: inline-block;
  border: 4px solid #24AA98;
  transition: background-color 0.35s ease-in;
  -webkit-transition: background-color 0.35s ease-in;
  -moz-transition:  background-color 0.35s ease-in;
}

div.getstarted:hover{
  cursor: pointer;
  background-color: transparent;
  color:#24AA98;
}

div.aboutus{
  width:150px;
  height:40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-size:16px;
  color:#24AA98;
  border-radius:10px;
  background-color: transparent;
  display: inline-block;
  border: 2px solid #24AA98;
  transition: background-color 0.35s ease-in;
  -webkit-transition: background-color 0.35s ease-in;
  -moz-transition:  background-color 0.35s ease-in;
}

div.aboutus:hover{
  cursor: pointer;
  background-color: #24AA98;
  color:white;
}

div.contactus{
  width:150px;
  height:40px;
  margin-left:50px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  font-size:16px;
  color:#24AA98;
  border-radius:10px;
  background-color: transparent;
  display: inline-block;
  border: 2px solid #24AA98;
  transition: background-color 0.35s ease-in;
  -webkit-transition: background-color 0.35s ease-in;
  -moz-transition:  background-color 0.35s ease-in;
}

div.contactus:hover{
  cursor: pointer;
  background-color: #24AA98;
  color:white;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #a7e8d4;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #24AA98;
}

.active-slide{
  display: inline-block;
}

div.startupintro {
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  background-color:#f2f5f8;
  width:235px;
  border-radius:10px;
  padding-bottom:20px;
  font-size:14px;
  color:#9da3a7;
  z-index: 0;
  position: relative;
}

div.startupwrapperintro{
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  width:235px;
  border-radius:10px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 1px 1px rgb(0,0,0,0.15),-1px 0 0 rgb(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  transition: box-shadow 0.35s ease-in;
  -webkit-transition: box-shadow 0.35s ease-in;
  -moz-transition: box-shadow 0.35s ease-in;
}

div.startupwrapperintro:hover{
  box-shadow: 0 0px 10px #888;
  cursor:pointer;
}

div.learnmore{
  border:2px #24AA98 solid;
  text-align: center;
  width:70px;
  margin-right:0;
  display: inline-block;
  font-size: 12px;
  border-radius:5px;
  padding-left:5px;
  padding-right:5px;
  padding-top:3px;
  padding-bottom:3px;
  color:#24AA98;
  transition: background-color 0.35s ease-in;
  -webkit-transition: background-color 0.35s ease-in;
  -moz-transition: background-color 0.35s ease-in;
}

div.learnmore:hover{
  background-color:#24AA98;
  color:white;
  cursor: pointer;
}

div.statsinfo{
  font-size: 14px;
  text-align: left;
  display: none;
}

div.statsinfowrapper{
  height:150px;
}

.screen{
  width:100%;
  height:250px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid white;
  border-radius: 10px;
  margin-bottom:30px;
}

.profilescreen{
  width:100%;
  height:250px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid rgba(61, 181, 163, .3);
  border-radius: 10px;
  display: none;
  margin-bottom:30px;
}

.linxedscreen{
  width:100%;
  height:250px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid rgba(61, 181, 163, .3);
  border-radius: 10px;
  margin-bottom:30px;
  display: none;
}

div.spacenohover{
  position:relative;
  border-radius:10px 10px 0px 0px;
  float:left;
  cursor:pointer;
  text-align: center;
  min-height:380px;
}

/* HOVER STYLES */
div.teampopup {
  display: none;
  position: absolute;
  top:0;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}

div.unfavorite{
  position:absolute;
  top:10px;
  right:10px;
  z-index: 1000;
  opacity:1;
   transition: opacity 0.35s ease-in;
  -webkit-transition: opacity 0.35s ease-in;
  -moz-transition: opacity 0.35s ease-in;
}

div.unfavorite:hover{
  cursor: pointer;
}

div.filterstar{
  z-index: 1000;
  display: inline-block;
  margin-top:-40px;
  margin-left:25px;
  opacity:0.7;
  vertical-align: middle;
  position: relative;
   transition: opacity 0.35s ease-in;
  -webkit-transition: opacity 0.35s ease-in;
  -moz-transition: opacity 0.35s ease-in;
}

.starfilled{
  opacity:1;
  position: absolute;
  top:0;
  right:0;
}

.starover{
  opacity: 0.3;
  position: absolute;
  top:0;
  right:0;
     transition: opacity 0.35s ease-in;
  -webkit-transition: opacity 0.35s ease-in;
  -moz-transition: opacity 0.35s ease-in;
}

.filterstar:hover .starover{
  opacity:1;
  cursor: pointer;
}

img.star{
  height:20px;
}

img.starfilled{
  height:20px;
}

img.starover{
  height:20px;
}

img.social{
  height:30px;
  width:30px;
  transition-property:opacity;
  transition-duration:0.35s;
  transition-timing-function:ease-in;
  transition-delay:initial;
}

.social{
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  bottom:0;
  right:0;

}

img.social:hover{
  opacity:0.8;
}

.favorite{
  position:absolute;
  top:10px;
  right:10px;
  opacity:0.7;
  z-index: 999;
}

.staroutline{
  position: absolute;
  top:0;
  right: 0;
  opacity: 0;
}

div.favorite:hover .staryellow{
  cursor: pointer;
  opacity:1;
}

.staryellow{
  position: absolute;
  top:0;
  right: 0;
  opacity: 0.2;
     transition: opacity 0.35s ease-in;
  -webkit-transition: opacity 0.35s ease-in;
  -moz-transition: opacity 0.35s ease-in;

}
.star{
  position: absolute;
  top:0;
  right: 0;
}

.ahrivertical{
  width:100%;
  padding-top:30px;
  padding-bottom: 30px;
}

div.startupahri {
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin-top:10px;
  width:235px;
  border-radius:10px;
  font-size:14px;
  color:#9da3a7;
}

div.startupwrapper{
  font-family:"Avenir Next", avenir, sans-serif;
  text-align:center;
  margin-top:10px;
  width:235px;
  border-radius:10px;
  position:relative;
}

.ahrirunning{
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width:90%;
  margin:auto;
  margin-top:20px;
  max-width: 600px;
  z-index: 3;
  position: relative;

}

img.ahrirunning{
}

@media screen and (orientation:portrait) {
  div.filtertoggle{
  display: none;
}

  div.recHelp{
    height:auto;
    width:100vw;
    border-radius:0px;
  }

  table.recHelp{
    margin-left:10px;
  }
}

@media screen and (max-width:600px) {
  div.filtertoggle{
  display: none;
}

  div.recHelp{
    height:auto;
    width:100vw;
    border-radius:0px;
  }

  table.recHelp{
    margin-left:10px;
  }
}

