{% extends "base.html" %}
{% block content %}

	<div class="resourceswhiteheader">
		<div class="profiletitle">

	<div class="profileicon">
		<img class="startupprofile" src="{{ url_for('static', filename='img/logogreen.gif') }}">
	</div>

    <div class="profilename">
        startupLinx<br>

    </div>

	</div>

    <div class="profileline">
    </div>



    <div class="profilesubtitle">
    	        <div class="profilelocation">San Francisco, CA</div>
       <div class="profilefriends">
       		<a href="https://www.linkedin.com/pub/jessica-ma/47/752/bb5"><img class="friends" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/464694_10151358284955830_391197295_o.jpg"></a>	
			<img class="friends" src="https://scontent-sjc.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10376721_10204532967751554_808010371372561991_n.jpg?oh=f12a92134e1b8dbdb5cf39dfef470a7d&oe=554EC3F3">
       </div>
   </div>
   
    </div>
</div>
</div>

<!--<div class="companyTitle">
	
	
	<div class="companyphoto">

		<img class="companyicon" src="{{ url_for('static', filename='img/logogreen.gif') }}">
	</div>

	<h2 class="companyName">
		startupLinx <br>
		<span style="font-size:20px"> San Francisco, CA </span>
	</h2>


	<div class="friendspanel">
			<a href"https://www.linkedin.com/pub/jessica-ma/47/752/bb5"><img class="friends" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/464694_10151358284955830_391197295_o.jpg"></a>
			<img class="friends" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10376721_10204532967751554_808010371372561991_n.jpg?oh=c42abea888c07c5deb43c5661ac7c031&oe=54D81CF3">
	</div>
</div>-->

<div class="companyProfile">

	<div class="people">
			
			<strong class="title">Our Story </strong> <br> <br>

			It was October 2014, and Fall recruiting season loomed before us. It seemed that the naturally most prestigious path to take was banking or consulting. Or any big shiny company - it was the default path that everyone took. <br><br>
			During Fall break, we traveled on a tour to speak with the luminaries of Silicon Valley - Peter Thiel, Meg Whitman, Jack Dorsey, among others. And we came to this simple realization: the smartest students in this nation are needed here. But they feel that they cannot tap into the Valley. Traditional Career Services have little idea how to engage startups, nor have they the resources or mindset to pivot, despite the demand from students. So students continue to crawl towards these traditional paths and rationalize to themselves that security and monetary gain are the highest achievements.<br><br>
			The nation's most talented deserve better. Deserve the right to live deliberately - choose and enter into a path they find truly fulfilling. They have the ability to create something meaningful. And so deserve to love what they do, not work for the sake of bottle service at the end of the week, only to repeat the cycle.<br><br>

			We cancelled our plane tickets back to Princeton University. For 10 days, the Linx Team hacked and on November 12th, the first Linx beta came to life.


	</div>

	<div class="people">
			
			<strong class="title"> Mission </strong> <br> <br>

			Don't settle for the comfortable path. <br><br>

			Smart people should be valued, indispensible. Smart people should be challenged everyday by the talent around them and wake up with a frenzied excitement to create.

			<br><br> 

			We believe in your right to a startup whose mission, people, and growth prospects align with your personal goals. We believe in maximizing your potential and happiness by empowering you to work at the juncture of your skills and interests. Why wait for a recruiter to discover you? We believe in putting the reigns in your hands.


	</div>

<!--	<div class="people">

		<strong class="title"> Seize the Opportunity </strong> <br><br>

		Startups hire people they trust. Most don't have a formalized recruiting process because of their limited time and resources. So how do you join a startup? Referrals. Ask a friend or a friend-of-a-friend, and get your name out there - it's a win/win for all parties involved. <br><br>

		But how to find the startups, how to find the connections? That's why we built Linx.

	</div>-->

	

	<div class="people">

		<a href="mailto:jmseven@princeton.edu?subject="startupLinx""><strong class="title"> Contact Us </strong> <br><br>

		Email: team@startuplinx.co </a> <br><br>

		We've built this platform for <em>you</em>. We want to cater it best to your needs. Shoot us a quick email if you have any feature requests, if you find Linx useful, or if you have any ideas for future improvements. 

	</div>

	<div class="people">
			
			<strong class="title"> Oh, and this is Ahri </strong> <br> <br>

			Meet Ahri - our company lynx! He's only a month old and as he grows with us, you'll certainly see him around helping you find your own Linx!

			<div class="ahrirunning">
				 <img class="ahrirunning" src="{{ url_for('static', filename='img/ahri.gif') }}">

			</div>


	</div>

</div> 

{% endblock %} 