 	    <div id="introModal" class="modalIntro">
				<div>
                     <!--<img src="{{ url_for('static', filename='img/logo.gif') }}" class="modalbkgd">-->
					<a href="#close" title="Close" class="close">x</a>
					<div class="backslide">
						<img class="backarrow" src="{{ url_for('static', filename='img/prevarrow.gif') }}">
					</div>

					<div class="container">

					<div class="slide active-slide">
						<div class='tourTitle'> startupLinx Tour</div>

						<div class="definition">
						<span style="font-size:50px">linx</span><br>
						<em style="font-size:20px">noun \'links\</em> <br>
						a warm connecting element between you and your dream job
						<br>
					</div>
					<div class="introtext">
						Don't throw yourself into the faceless resume pool. Startups predominately hire through referrals - people they trust to help grow the company. We streamline the process by empowering you to discover your linx.</div>
					</div>

					<div class="slide">
						<div class='tourTitle'>Discover</div>
						<div class="discoverblock">
							<div class="discoverfeed">
								<div class="startupwrapperintro">
									<div class="startupintro">

										<div class="startupinfo">

											<div class="space">

												<div class="text">
													<span class="location">New York</span>
													<span class="employees">18 employees
													</span>
													<div class="fundinground">
														<div class="verticaltext">
															Last Round
														</div>
														<div class="fundingroundtext">
															<span class="seriesround">
																
																Series
																
																<br>
															</span>
															B
														</div>
													</div>

													<div class="totalfunding">
														<div class="verticaltext">
															Total Funding
														</div>
														<div class="totalfundingtext">
															$25M
														</div>
													</div>

													<div class="investors">
														<div class="verticaltext">
															Investors
														</div>
														<div class="investorstext">
															Wendi Deng<br>
															Thrive Capital<br>
															Slow Ventures
														</div>
													</div>
												</div> <!-- text div -->

												<!--This img.startup is the image for the startup with fixed width-->
												<div class="logowrapper">
													<span class="helper"></span><img class="startup" src="http://images.crunchbase.com/image/upload/v1397751101/66b328b28c906a2e3e6a65962483003a.png">
												</div>

												<!--This strong.name is the title of the startup-->
												<strong class="name">Artsy</strong> <br>
											
												<!--This is where the description of the startup goes-->
												<div class="startuptext">
													<p class="startup">Artsy is an online platform providing a collection of contemporary art for art lovers.</p>
												</div>

											</div> <!-- space div -->

										</div>  <!-- startup info div -->

										<div class= "loadinglinestartups" style="width:200px"> 
										</div> 

										<!--This is where the image src of some friends goes. We have 4 friends-->
										<div class="friends">
										
											<img class="friends" src="https://media.licdn.com/mpr/mprx/0_ndxXK8Ys5NWAbDK-9eyUKiZQFqplbm8-qHwUKiY64AH8ZoBtVf7HO_oHdsy7XWTOBogVxkukiF2d">
										</div>

										<!--This is where the names of 3 friends plus n-3 number of friends goes-->
										<div class="friends">
										    Ani Petrov has
						                    worked here. <br> </br>

											<!--This is the connect button - needs to be linked-->
											
											<div class="connectbutton">
													Get Linxed
											</div>
										</div>
									</div>

								</div> <!-- startup div -->

							</div> 
						<div class="discoverfeedtext">
							<p>Scroll through your Linx feed to discover interesting startups. Hover over to check out key stats.
								<div class="learnmore">
									Learn More
								</div>
							</p>
							<div>
								<div class="statsinfowrapper">
									<div class="statsinfo">
									<strong>Size:</strong> Are you looking to join a small 10-person team or a mature late-stage startup?<br>
                                    <strong>Series:</strong> A good indicator of the company's maturity is latest fundraising round. <a href="http://www.entrepreneur.com/article/42336" target="_blank">Click here to learn more</a> about what the different funding series mean.<br>
									<strong>Total Investment:</strong> How much cash investors have put in the company to date. Another signal for the company's maturity.<br>
                                    <strong>Investors:</strong> When a company is very early-stage, a good indicator of its prospects is the list of people who have put money in it. <a href="http://www.forbes.com/sites/tomiogeron/2013/05/08/the-top-ten-in-venture-capital-today-midas/" target="_blank">Click here to learn more</a> about who's who in venture capital.<br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="slide">
					<div class='tourTitle'> Identify</div>
					<div class="discoverblock">
						<div class="discoverfeed">									<div class="startupwrapperintro">
								<div class="startupintro">

									<div class="startupinfo">

										<div class="spacenohover">

											

												<!--This img.startup is the image for the startup with fixed width-->
												<div class="logowrapper">
													<span class="helper"></span><img class="startup" src="http://images.crunchbase.com/image/upload/v1397751101/66b328b28c906a2e3e6a65962483003a.png">
												</div>

												<!--This strong.name is the title of the startup-->
												<strong class="name">Artsy</strong> <br>
											
												<!--This is where the description of the startup goes-->
												<div class="startuptext">
													<p class="startup">Artsy is an online platform providing a collection of contemporary art for art lovers.</p>
												</div>

											</div> <!-- space div -->

										</div>  <!-- startup info div -->

										<div class= "loadinglinestartups" style="width:200px"> 
										</div> 

										<!--This is where the image src of some friends goes. We have 4 friends-->
										<div class="friends">
											<img class="friends" src="https://media.licdn.com/mpr/mprx/0_ndxXK8Ys5NWAbDK-9eyUKiZQFqplbm8-qHwUKiY64AH8ZoBtVf7HO_oHdsy7XWTOBogVxkukiF2d">
										</div>

										<!--This is where the names of 3 friends plus n-3 number of friends goes-->
										<div class="friends">
										    Ani Petrov has
						                    worked here. <br> </br>

											<!--This is the connect button - needs to be linked-->
											
											<div class="connectbuttoninline">
													Get Linxed
											</div>
										</div>
									</div>

								</div> <!-- startup div -->

							</div> 
						<div class="discoverfeedtext">
							<div class="screen">
							<img src="{{ url_for('static', filename='img/profilescreen.gif') }}" class="profilescreen">
							<img src="{{ url_for('static', filename='img/linxedscreen.gif') }}" class="linxedscreen">
						</div>
						<p>Click on the startup card to view its profile page for details.</p>
						<p><div class="connectbuttoninline">Get Linxed</div> takes you directly to your linx at the company! </p>
						</div>
					</div>
				</div>

					<div class="slide">
						<div class='tourTitle'>Get Linxed</div>
						<div class="discoverblock">
							<div class="discoverfeed">
								<div class="connectintro">
									<strong class="title"> Your Linx </strong><br> <br>
									<a href="#openModal">
									<div class="employeeintro">

										<div class="employeephotowrapper">
										<img class="employeephoto tall-img" src="https://scontent-b-ord.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/10376721_10204532967751554_808010371372561991_n.jpg?oh=c42abea888c07c5deb43c5661ac7c031&oe=54D81CF3">

									</div>
										<p class="employeename">
											<strong class="employeename">Momchil Tomov</strong><br><em>Co-Founder</em>
										</p>
										<div class="degree">
											1st
										</div>
									</div></a>

									<a href="#openModal">
									<div class="employeeintro">

										<div class="employeephotowrapper">
										<img class="employeephoto tall-img" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/t31.0-8/464694_10151358284955830_391197295_o.jpg">

										</div>
										<p class="employeename">
											<strong class="employeename">Jessica Ma</strong><br><em>Co-Founder</em>
										</p>
										<div class="degree">
											1st
										</div>
									</div> </a>
								</div>
							</div>
						<div class="discoverfeedtext">
						Click on a friend to ask for an quick intro! Company employees want to introduce qualified friends or at least chat about their exciting startup - never underestimate the referral incentives...!
						</div>
					</div>
				</div>

					<div class="slide">
						<div class='tourTitle'>startupLinx</div>

						<a href="#close" title="Close"><div class="getstarted">Get Started</div></a>
							<div class="modalline5"></div>
							<p> Tell us how Linx can improve to better suit your startup search and we'll try to make it happen! </p> <p> Thank you for supporting Linx in its young beta days.</p>
							<a href="{{url_for('about')}}"><div class="aboutus">About Linx</div></a>
							<a href="#openModal_feedback"><div class="contactus">Feedback</div></a>

					</div>
				</div>

					<div class="forwardslide">
						<img class="forwardarrow" src="{{ url_for('static', filename='img/nextarrow.gif') }}">
					</div>

					<ul class="slider-dots">
			        <li class="dot active-dot">&bull;</li>
			        <li class="dot">&bull;</li>
			        <li class="dot">&bull;</li>
			        <li class="dot">&bull;</li>
			         <li class="dot">&bull;</li>
			     	</ul>

					<br>
                    <!--<div class="modalline"></div>
					<p class="modalText">Extra text space</p>-->



				</div>
			</div>

			 <div id="openModal" class="modalDialog">
                <div>
                    <form action="" method="post">
                        <img src="{{ url_for('static', filename='img/logo.gif') }}" class="modalbkgdprofile">
                        <a href="#introModal" title="Close" class="close">X</a>
                        <h2 class="modalTitle">Sample LinkedIn Message</h2>
                        <p class="modalText">Personalize a message to your friends at the startup of interest to get introduced or learn more about the company.</p>
                        <p class="modalText">Subject: <input name="subject" size="65" value="Regarding your work at startupLinx"> </p>
                        <p>
                        <textarea class="modaltextarea" name='body' rows="10" cols="70">Hi Jessica,

I hope you're doing well! I was browsing through startuplinx.co and I noticed that you were affiliated with Linx. It sounds like a really exciting place to work!

I am currently looking for job opportunities and I was wondering if you could refer me to someone at Linx? I would really appreciate it.

All the best,
{{ current_user.first_name }}
                        </textarea></p>
                    </form>
                    <p>
                        <button class="buttonmodal">
                            Send</button>
                    </p>
                    <p class="modalText">Close the sample message to return to the Linx Tour.</p>
                </div>
            </div>
