<div id="linkedinLoginModal" class="modalDialog">

    <div>
         <img src="{{ url_for('static', filename='img/logo.gif') }}" class="modalbkgd">
         
        <a href="#close" title="Close" class="close">x</a>
        <p class='modalTitle'></p>
        <div class="linkedin">
            <a href="{{ url_for('login')  }}"><img src="{{ url_for('static', filename='img/linkedin.gif') }}" class="linkedinmodal"></a>
        </div>
        <br>
        <div class="modalline"></div>
        <p class="modalText">Linx will match your connections with our extensive database to recommend startups where you can get introduced immediately. Linx will <em>never</em>
        post or send anything on your behalf!</p>

    </div>
</div>
